html{
    scroll-behavior: smooth;
}
body {

    font-family: 'Poppins', sans-serif;
    background: linear-gradient(130.28deg, #FFF0F8 -3.1%, #E3C5F4 34.14%, #AC6FFA 86.26%, #000000 179.35%);
    width: 80vw;
    margin: 0 auto;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    
    
}

section{
    margin-bottom: 8vw;
}
.enlace {
    text-decoration: none;
    color: #000000;
}

nav {
    display: flex;
    gap: 16px;
}


nav a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;

}

.pagina {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    max-width: 1000px;
    margin-bottom: 1vw;
}

.pagina.aboutme-pagina {
    margin-bottom: 8vw;
}

.flecha {
    display: flex;
    justify-content: center;
    animation: nudge 2s linear infinite alternate;
}

@keyframes nudge {
    0% {
        transform: translate(0, 60px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.descripcion h2 {
    font-size: 32px;
    padding: 16px 0px;
    display: flex;
    justify-content: left;
}

.descripcion {}

h1 {
    font-family: 'Poppins', sans-serif;

    font-size: 48px;
    top: 10%;
    left: 18%;

}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    padding: 16px 0px;
    font-size: 32px;

}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    text-align: right;
    font-weight: 700;
}

h5 {
    font-weight: 550;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding: 32px;

}

.mia {
    text-align: center;
    padding: 16px;
}

.descripcion {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    width: 70%;
    text-align: left;
    padding-left: 80px;

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.sobre {

    font-family: 'Poppins', sans-serif;
    padding: 16px;
    width: 600px;
    text-align: center;
}

.quien {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.linea {
    height: 2px;
    background-color: blue;

}

.header {
    font-family: 'Poppins', sans-serif;
    display: flex;

    justify-content: space-between;
    padding: 50px 50px;

}

.header h1 {
    font-family: 'Poppins', sans-serif;

    font-size: 32px;
    top: 10%;
    left: 18%;
}

.projects-container {

    display: flex;
    flex-direction: column;
    padding: 200px 50px;
    row-gap: 64px;





}

.project-img {
    width: 50%;
    height: 100%;
}

.bellasombra {
    display: flex;

}

.spotify {
    display: flex;
    column-gap: 40px;

}

.invert {
    order: -1;
}


.project-img img {
    width: 100%;
}

.fotospotify {
    height: 368px;
}

.fotolibreria {
    height: 500px;
    object-fit: contain;

}

.project-content {
    width: 50%;
}

button {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    border-color: #aaa6a6;
    border-width: 0px;
    border-style: solid;
    border-radius: 35px;
    margin-top: 16px;
    cursor: pointer;


}

.todo {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 16vw;


}

.nombbre {
text-decoration: none;
color: #000000;
}